@font-face {
    font-family: 'dancing_scriptregular';
    src: url('dancingscript-regular.woff2') format('woff2'),
         url('dancingscript-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_scriptbold';
    src: url('dancingscript-bold.woff2') format('woff2'),
         url('dancingscript-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}